*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    /* align-items: center; */
    /* background: blue; */
}

/* lado de los contactos*/

.contacts-section{
    flex-basis: 300px;
    height: 100%;
    width: 15%;
    min-width: 250px;
    border: 1px solid #BEC1BB;
    /* overflow: hidden; */
}

.header-contact{
    display: flex;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #BEC1BB;
}


.one-contact p{
    font-size: 14px;
    font-weight: 300;
}

/* iconos  */

.contact-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.contact-icon i{
    font-size: 24px;
    color: #828485;
}

/* efecto de los iconos */
.contact-icon i:hover{
    color: #000;
}

/* botos de nuevo chat */
.chat-botton{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #BEC1BB;
}

.chat-btn{
    padding: 1rem 4rem;
    background-color: #A491D2;
    text-decoration: none;
    color: #fff;
}

/* efecto del foton */
.chat-btn:hover{
    background-color: #CDC3E6;
}

.chat-btn:focus{
    background-color: #BEC1BB;
}

/* lista de contactos */

.contact-list {
    display: flex;
    flex-direction: column;
}

.contact-list .contact{
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #BEC1BB;    
}

.contact-list .contact:hover{
    background-color: #CDC3E6;
}

.contact{
    display: flex;
    gap: 15px;
}

.contact img{
    border-radius: 100%;
    border: 2px solid #CDC3E6;
    width: 4rem;
    height: 4rem;
}

.one-contact img{
    width: 3.5rem;
    height: 3.5rem;
}

.contact h2{
    font-size: 22px;
    font-weight: 500;
}

.contact p{
    font-size: 16px;
    font-weight: 500;
}


/* section imagen del chat */

.network{
    /* flex-grow: 1; */
    display: flex;
    width: 85%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    background: red;
}

.network img{
    width: 18rem;
}

.network h1{
    font-size: 45px;
}

.net-text{
    max-width: 500px;
    font-size: 18px;
}